body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ECF0F1;
  /* background-color: #000000; */
}
.body-wrap{
  padding: 10px 20px;
}
.script-head{
  margin-bottom: 20px;
}
.dropdown-menu{
  border-radius: 0px;
}
ul#alines{
  padding-left: 0px;
}
ul.no-padding{
  padding-left: 0px;
}
ul#alines>li>div{
  /*border: 1px solid lightblue;*/
}
ul#alines>li{
  margin-bottom: 50px;
}
ul#alines .aline{
  background-color: #f4f4f4;
}
ul.no-style{
  list-style: none;
}
ul.inline-no-style{
  list-style: none;
  display: inline-block;
}
ul.inline-no-style>li{
  display: inline-block;
}
.aline>.row>div{
  padding-left: 10px;
  font-size: 1.3em;
  color: #ffffff;

}
.aline>.row>div.sentence-words{
  color: #ffffff;
  padding: 10px;
  background-color: #E74C3C;
}
.aline>.row>div.line-header{
  background-color: #2980B9;
  color: #ffffff;
  padding: 5px 10px;
}
.aline>.row>div.line-tags{
  background-color: #2C3E50;
  padding: 10px;
}
.aline>.row>div.sentence-wholes{
  color: #ffffff;
  padding-bottom: 3px;
  background-color: #3498DB;
  padding-top: 10px;
}
.aline ul.sentences{
  list-style: none;
  padding-left: 0px;
}
.aline ul.sentences>li>a{
  color: #ffffff;
}
.aline ul.sentences>li>a[aria-expanded="true"]{
  color: #000000;
}
.aline ul.asentences{
  padding-left: 0px;
}
ul.asentences>li{
  list-style: none;
  border-left: solid 4px rgba(0,0,0,0.5);
  margin-bottom: 5px;
  padding-left: 5px;
  /*background-color: rgba();*/
}
ul.asentences>li p>span{
  background-color: rgba(0,0,0,0.5);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  cursor: pointer;
}
.aline ul.sentences>li p{
  cursor: pointer;
}
.aline ul.sentences>li{
  border-left: solid 4px transparent;
  margin-bottom: 5px;
  padding-left: 5px;
}

ul.line-data>li>span, ul.sentence-data>li>span{
  cursor: pointer;
}
ul.tags-list{
  color: black;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
}
ul.tags-list>li{
  margin-right: 5px;
  margin-bottom: 5px;
}
ul.tags-list>li>div{
  cursor: pointer;
}
ul.tags-list>li.tag button.btn{
  background-color: #ffffff;
  background-image: none;
  color:#000000;
  padding: 4px 6px;
  border-radius: 0px;
}
ul.tags-list>li.tag button.btn>span.caret{
  margin: 0px 5px;
}
ul.tags-list>li.tag{
  display: none;
}
ul.tags-list>li.tag.tagged{
  display: inline-block;
}
ul.tags-list>li.tag.tagged{
  display: inline-block;
}
ul.tags-list>li.tag.tagged button.btn{
  background-color: #31b0d5;
}
div.dropdown-menu .dropdown-item{
  padding: 5px 5px 5px 10px;
}
div.dropdown-menu>button{
}
.common-words-wrap{
  background-color: #3498DB;
  padding: 20px 15px;
  margin-bottom: 20px;
}
.common-words a>span.common-word{
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  color: #ffffff;
  background-color: rgba(0,0,0,0.25);
  padding: 3px 5px;
}
.common-words a.active>span.common-word{
  background-color: whitesmoke;
  color: black;
}
.common-words a[aria-expanded="true"]>span.common-word{
  color: #000000;
  background-color: rgba(255,255,255,0.5);
}
.common-words span.common-word>span{
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-top: 4px;
  cursor: pointer;
}
.common-words .common-words-header{
  background-color: #2980B9;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.common-words .common-word-details{
  background-color: #E74C3C;
  padding: 20px 15px;
  font-size: 1.3em;
}
.common-words .common-word-details .progress{
  margin-top: 10px;
}
.common-words .common-word-details li>span{
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.common-words .common-word-details li>span>span{
  margin-right: 5px;
}
.common-word-sentences ul{
  margin-top: 20px;
  padding-left: 5px;
}
.common-word-sentences ul>li{
  background-color: #3498DB;
  color: #ffffff;
  padding: 5px 15px;
  margin-bottom: 10px;
}
