{% extends "base.html" %}
{% block title %}Scripts - list{% endblock title %}
{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="#">Home</a></li>
  <li class="active"><a href="/scripts">Scripts</a></li>
  <li><a href="/languages">Languages</a></li>
</ul>
{% endblock navbar %}
{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class=""><a href="/">Home</a></li>
    <li class="active"><a href="">Scripts</a></li>
  </ol>
{% endblock breadcrumbs %}
{% block script_body %}
<div class="">
  <div class="row">
    <div class="col-md-11">
      <h2>Scripts list</h2>
    </div>
    <div class="col-md-11">
      <ul>
        {% for script in script_list %}
        <li>
          <a href="script/{{script.id}}">{{script.name}}</a>
          <p>lines:{{script.lines.all|length}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock script_body %}
