{% extends "base.html" %}
{% block title %}{{script.name}}{% endblock title %}
{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="">Home</a></li>
  <li class="active"><a href="/scripts">Scripts</a></li>
  <li><a href="{% url 'languages' %}">Languages</a></li>
</ul>
{% endblock navbar %}
{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class=""><a href="/">Home</a></li>
    <li class=""><a href="/scripts">Scripts</a></li>
    <li class="active"><a href="">{{script.name}}</a></li>
  </ol>
{% endblock breadcrumbs %}
{% block script_body %}
<div class="">
  <div class="row script-head">
    {% include 'scripts/script_head.html' %}
  </div>
  <div class="row">
    <div id="lineswrap" class="col-md-11">
      {% include 'scripts/lines.html' %}
    </div>
  </div>
</div>
{% endblock script_body %}
